@media(max-width: 1250px){
    .wrap{
        width: 91%;
        margin: 0px auto;
    }

    #banner h1{
        width: 100%;
        font-size: 35px;
        text-align: center;
        margin: 33px auto;
    }

    .tarjeta{
        width: 16.9%;
        margin: 1.45%;
    }

    .tarjeta p{
        display: block;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    #articulos{
        width: 65%;
    }

    #articulos article{
        width: 97%;
    }

    #pie .wrap > div{
        width: 24%;
    }

    #pie #navegador img{
        width: 14%;
    }

    #pie h5{
        font-size: 27px;
    }

    #pie ul{
        font-size: 21px;
    }
}

@media(max-width: 1080px){
    .wrap{
        width: 90%;
        margin: 0px auto;
    }

    .tarjeta .categoria{
        font-size: 17px;
    }

    .tarjeta .descripcion{
        font-size: 14px;
    }

    #articulos{
        width: 61%;
    }
}

@media(max-width: 969px){
       #articulos{
        width: 64%;
    }

    #lateral{
        width: 30%;
    }

    #pie h5{
        font-size: 22px;
    }

    #pie .wrap > div{
        width: 22%;
        margin: 5%;
    }

    #pie ul{
        font-size: 19px;
    }

    #lateral input[type="text"]{
        width: 85%;
    }

    .caja-lateral{
        width: 95%;
        min-height: 140px;
        height: auto;
        padding-bottom: 10px;
    }

    #lateral input[type="button"], 
    #lateral input[type="submit"]{
        font-size: 13px;
        padding-left: auto;
    }

    #login input[type="email"], 
    #login input[type="password"]{
        width: 70%;
    }

    #login #usuario, #login #contraseña{
        margin-left: 22px;
    }

    #login input[type="submit"], 
    #login input[type="button"], 
    #login input[type="reset"], 
    #login button{
        margin-bottom: 0px;
    }

    #login input[type="reset"]{
        display: none;
    }

    #login a{
        margin-top: 10px;
        margin-bottom: 10px;
    }

}

@media(max-width: 907px){
    #lateral input[type="text"]{
        width: 82%;
    }
}

@media(max-width: 873px){
    .wrap{
        width: 95%;
    }

    #lateral input[type="button"], 
    #lateral input[type="submit"]{
        padding-left: 9px;
    }
}

@media(max-width: 833px){
    .wrap{
        width: 90%;
    }

    .tarjeta{
        width: 16.8%
    }

    #lateral input[type="button"], #lateral input[type="submit"] {
        padding-left: 6px;
    }

    #lateral input[type="button"], #lateral input[type="submit"] {
        font-size: 12px;
    }
}

@media(max-width: 795px){
    #menu ul li {
        font-size: 23px;
    }

    #banner h1{
        font-size: 28px;
    }

    .tarjeta{
        height: auto;
        margin: 1.44%;
    }

    .tarjeta .categoria{
        font-size: 15px;
    }

    .tarjeta .descripcion{
        display: none;
    }

    #lateral input[type="text"] {
        width: 80%;
    }

    aside h3{
        font-size: 20px;
    }

    #articulos {
        width: 63%;
    }

    #articulos h2{
        font-size: 30px;
    }

    #articulos article h4{
        font-size: 20px;
    }

    #articulos article p{
        font-size: 13px;
    }

    #articulos .info{
        font-size: 10px;
    }

    #pie h5{
        font-size: 18px;
    }

    #pie img{
        max-width: 100%;
    }
}

@media(max-width: 713px){
    #cabecera{
        width: 100%;
        height: 120px;
        padding-top: 10px;
    }

    #menu{
        clear: both;
        float: none;
        width: 440px;
        margin: 0px auto;
    }

    #logo {
        float: none;
        width: 200px;
        margin: 0px auto;        
    }

    #lateral input[type="text"] {
        width: 77%;
    }

    #login #usuario, #login #contraseña {
        margin-left: 23px;
        font-size: 14px;
        padding-top: 2px;
    }
}

@media(max-width: 670px){
    #login #usuario, 
    #login #contraseña{
        margin-left: 20px;
    }

    #articulos .info{
        padding: .3px;
    }
}

@media(max-width: 660px){
    #banner h1{
        font-size: 25px;
    }

    #lateral{
        float: none;
        width: 100%;
        margin: 0 auto;
        min-height: auto;
    }
    
    #lateral input[type="text"] {
        width: 93%;
    }

    #login input[type="email"], 
    #login input[type="password"] {
        width: 90%;
    }

    #login #usuario, 
    #login #contraseña{
        font-size: 18px;
    }

    #login #usuario{
        margin-top: 1px;
    }

    #login #contraseña{
        font-size: 20px;
        padding-left: 3px;
    }

    #articulos{
        float: none;
        width: 100%;
        margin: 0 auto;
        min-height: auto;
    }

    #pie{
        height: auto;
        padding-bottom: 40px;
    }

    #pie .wrap > div{
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }

    #pie h5{
        font-size: 25px;
    }
}

@media(max-width: 549px){
    #logo{
        float: left;
    }

    #cabecera{
        width: 100%;
        height: 275px;
        padding-top: 10px;
    }

    #menu{
        clear: both;
        float: none;
        width: 100%;
        margin: 0 auto;
    }

    #menu ul li{
        width: 100%;
        line-height: 52px;
    }

    #menu ul li a{
        width: 100%;
        line-height: 52px;
    }

    #menu ul li a:hover{
        color: #37bcf9;
        transform: scale(1, 1 );
    }

    #banner{
        height: 85px;
    }

    #banner h1{
        font-size: 18px;
    }

    .tarjeta{
        width: 30%;
    }

    .tarjeta .icono{
        font-size: 25px;
    }

    .tarjeta:hover .icono{
        font-size: 32px;
    }

    .tarjeta .categoria{
        font-size: 13px;
    }

    #lateral input[type="text"] {
        width: 91%;
    }

    #login input[type="email"], #login input[type="password"] {
        width: 87%;
    }

    #login #usuario, #login #contraseña {
        margin-left: 14px;
    }

    #articulos .info{
        float: none;
        margin: -10px;
        border-radius: 0px;
    }

    #articulos article h4{
        margin-top: 20px;

    }
}

@media(max-width: 425px){
    #banner{
        width: 90%;
        height: 90px;
    }

    #banner h1{
        font-size: 13px;
    }

    .tarjeta{
        width: 95%;
        height: 150px;
        margin: 2%;
    }

    .tarjeta .icono{
        font-size: 30px;
        margin-top: -20px;
    }

    .tarjeta:hover .icono{
        font-size: 40px;
    }

    .tarjeta .categoria {
        font-size: 20px;
    }

    #lateral input[type="text"] {
        width: 87%;
    }

    #lateral h3:first-child {
        margin-top: 10px;
    }

    #login #usuario, 
    #login #contraseña {
        margin-left: 9px;
    }

    #social a{
        margin-top: 16px;
    }

    #articulos article {
        width: 94%;
        margin: 19px auto;
    }

    #pie{
        padding-bottom: 10px;
    }
}